*{
    margin: 0;
    padding: 0;
}
.images{
    display: flex;
    margin-top: 15px;
}
.images img{
    width: 50px;
    margin-top: 15px;
    margin-left: 40px;
}
.images img:hover{
    width: 60px;
}
.main{
    display: flex;
    margin-top: 15px;
    
}
.project{
    padding-left: 50px;
    padding-top: 10px;
}
.project>p{
    padding-top: 10px;
}
button{
    margin-top: 10px;
}
button:hover{
    width: 100px;
    height: 30px;
    background-image: linear-gradient(to bottom, yellow, aqua,pink);
    color: black;
    font-size: 15px;
}
.footer{
    display: flex;
    align-items: center;
}
.box{
    width: 50%;
    align-items: center;
    padding-left: 400px;
}
form{
    padding-left: 575px;
}
form section{
    padding-top: 10px;
}
form button{
    margin-left: 100px;
}
#name{
  font-weight: bold;
  font-style: italic;
  font-size: 25px;

}
#name:hover{
    color:white;
    display: inline;
    font-size: 30px;
    background-image: linear-gradient(to right, red, blue, orange, green,aqua);
    
}